html, body 
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.layout-principal 
{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  transform: translateX(0); 
  box-sizing: border-box;
}

.painel-superior 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.75cm;
  width: 100%; 
  background-color: #005BFF;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo 
{
  height: 85%;
}

.titulo 
{
  flex: 1;
  text-align: center;
  margin: 0;
}

.usuario 
{
  margin: 0;
  white-space: nowrap;
}

.layout-conteudo 
{
  display: flex;
  flex: 1;
  width: 100%;
}

.titulo-superior 
{
  margin-top: -10px; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(2, 2, 46);
  font-size: 2rem;
  margin-bottom: 20rem; 
}

.resultado 
{
  margin-top: 30px; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(2, 2, 46);
  font-size: 1.5rem;
  margin-bottom: 30px; 
}

.painel-esquerdo 
{
  width: 30%;
  border-radius: 1px 20px 0px 0px;
  background-color:rgb(1, 13, 53);
  color: white;  
  box-sizing: border-box;
  text-align: left;
}

.conteudo 
{
  width: 70%;
  background-color: #ea4c4c;
  padding: 20px;
  box-sizing: border-box;
}

.perfil 
{
  display: flex;
  align-items: center;
  gap: 10px;
}

.texto 
{
  font-size: 1rem;
  color: white;
}

.textonome {
  margin-left: 170px; 
  font-weight: bold;
  font-size: 3rem;
}

.usuariodev 
{
  width: 60%;
  max-width: 60px; 
  height: auto;
}

.botao-azul 
{
  background-color: #005BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;    
}

.botao-esquerda 
{
  width: 115%;
  margin-bottom: 10px;
  padding: 8px 8px 8px 16px; 
  text-align: left;
  margin-left: -20px;
}

.mensagem-vazia 
{
  padding: 20px;
  background: #eee;
  border-radius: 6px;
}
.botao-categoria 
{
  padding: 10px 14px;
  background-color: #2970f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.voltar-categorias 
{
  margin-bottom: 15px;
  background: none;
  border: none;
  color: #021b4d;
  cursor: pointer;
  font-size: 20px;
}

.gif-container {
  position: relative;
  display: inline-block;
}

.gif-imagem {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.botao-favorito {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  padding: 6px 10px;
  cursor: pointer;
  
}

.botao-favorito:hover {
  background: rgba(255, 255, 255, 0.4);
  color: gold;
}