html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
/*Estilos*/
.layout-principal {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  transform: translateX(0);
  box-sizing: border-box;
}

.painel-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2cm;
  width: 100%;
  background-color: rgb(2, 26, 110);
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo {
  height: 85%;
}

.titulo {
  flex: 1;
  text-align: center;
  margin: 0;
}

.usuario {
  margin: 0;
  white-space: nowrap;
}

.layout-conteudo {
  display: flex;
  flex: 1;
  width: 100%;
}

.titulo-superior {
  margin-top: -10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(2, 2, 46);
  font-size: 2rem;
  margin-bottom: 20rem;
}

.resultado {
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(2, 2, 46);
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.painel-esquerdo {
  width: 40%;
  border-radius: 1px 20px 20px 0px;
  background-color: rgb(2, 13, 51);
  color: white;
  box-sizing: border-box;
  text-align: left;
  margin-left: -25px;  
}

.conteudo {
  width: 70%;
  background-color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.texto {
  font-size: 1rem;
  color: white;
}

.textonome {
  margin-left: 170px;
  font-weight: bold;
  font-size: 2rem;
}

.usuariodev {
  width: 60%;
  max-width: 60px;
  height: auto;
}

.botao-azul {
  background-color: #005bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.botao-esquerda {
  width: 115%;
  margin-bottom: 10px;
  padding: 8px 8px 8px 16px;
  text-align: left;
  margin-left: -20px;
}

.mensagem-vazia {
  padding: 20px;
  background: #eee;
  border-radius: 6px;
}

.gif-container {
  position: relative;
  display: inline-block;
}

.gif-imagem {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.input-grande .q-field__label {
  font-size: 20px;
  font-weight: bold;
}

.input-grande input {
  font-size: 16px;
}

.label-grande .q-field__label {
  font-size: 20px !important; /* AUMENTA O LABEL */
}

.menu-ativo {
  background-color: #1976d2 !important; /* azul */
  color: white !important;
  border-radius: 8px;
}

.menu-ativo .q-icon {
  color: white !important;
}

.item-ativo {
  background-color: #0d6efd !important; /* azul */
  color: white !important;
  border-radius: 8px;
}

.item-ativo .q-icon {
  color: white !important;
}

.disabled-container {
  pointer-events: none;
  opacity: 0.8;
}

.toast {
  display: block;
  visibility: visible;
  min-width: 250px;
  background-color: blue;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 9999;

  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);

  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.toast.show {
  opacity: 1;
}

.toastv {
  display: block;
  visibility: visible;
  min-width: 250px;
  background-color: rgb(16, 201, 62);
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 9999;

  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);

  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.toastv.show {
  opacity: 1;
}

.sem-linha .q-field__bottom {
  display: none !important;
}

.sem-linha .q-field__control:before,
.sem-linha .q-field__control:after {
  display: none !important;
}

/* Oculta o relatório na tela */
#relatorio-impressao {
  display: none;
}

/* Exibe somente na impressão */
@media print {
  body * {
    visibility: hidden;
  }

  #relatorio-impressao,
  #relatorio-impressao * {
    visibility: visible;
  }

  #relatorio-impressao {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}

/* pode ficar no <style scoped> */
.border-dav {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  margin-left: 10px;
}

